@charset "UTF-8";
/* CSS Document */


body{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
background-color:#9aa8c2;
background-image:url(../images/inside_bg.jpg);
background-repeat:repeat-x;
text-align:center;
font-family:tahoma;
font-size:11px;
line-height:12px;
color:#333333;
}

.wrapper{
width:978px;
margin:0px auto 0px auto;
}

.topline{
width:978px;
}
.topline_left{
width:394px;
height:149px;
float:left;
background:url(../images/inside_header_left.jpg) no-repeat;
}
.topline_right{
float:left;
width:582px;
}
.topline_right_top{
width:582px;
height:56px;
}
.topline_right_mid{
width:400px;
height:30px;
padding:13px 0px 0px 182px;
background:url(../images/inside_header_right.jpg) no-repeat;
}
.topline_right_bot{
width:557px;
height:30px;
text-align:right;
padding:20px 25px 0px 0px;
}

.midline{
width:978px;
text-align:center;
}
.midline_top{
width:978px;
height:16px;
background:url(../images/inside_maincon_top.jpg) no-repeat;
}
.midline_mid{
width:979px;
margin:-3px 0px 0px 0px;
padding:0px 0px 13px 0px;
background:url(../images/inside_maincon_mid.jpg) repeat-y;
}

.midline_con{
width:891px;
margin:0px auto 0px auto;
}
.midline_con_top{
width:891px;
height:12px;
background:url(../images/inside_contentcon_top.jpg) no-repeat;
}
.midline_con_mid{
width:861px;
background:url(../images/inside_contentcon_mid.jpg) repeat-y;
padding:0px 15px 0px 15px;
}
.midline_con_bot{
width:891px;
background:url(../images/inside_contentcon_bot.jpg) no-repeat;
}

.botline{
width:958px;
height:31px;
text-align:left;
padding:15px 0px 0px 20px;
background:url(../images/inside_maincon_bot.gif) no-repeat;
}
/**/
.textstyle1{
color:white;
text-decoration:none;
}
.textstyle2{
font-size:16px;
color:white;
text-decoration:none;
}
.textstyle3{
color:#3b5c92;
text-decoration:none;
font-size:16px;
}
.textstyle4{
color:#ff6600;
font-size:16px;
}
.textstyle5{
color:#ff6600;
}
.textstyle6{
color:#990000;
text-decoration:none;
}
.textstyle7{
text-align:right;
float:left;
width:100%;
font:normal 12px arial;
color:#fff;
padding:5px 0;
margin:0;
background:url(../images/table_bar1.jpg) repeat-x;
}
.textstyle7 a{
color:#fff;
padding: 0 5px;
}
.textstyle7 a:hover{
text-decoration:underline;
color:#ff6600;
}
.textstyle8{
color:white;
font-size:12px;
text-decoration:none;
}
a.textstyle8:hover{
color:white;
font-size:12px;
text-decoration:underline;
}
.textstyle9{
color:#333333;
font-weight:bold;
text-decoration:none;
}
a.textstyle9:hover{
color:#333333;
font-weight:bold;
text-decoration:underline;
}
.textstyle10{
color:#ff6600;
font-size:14px;
}

/**/
.table1{
}
.table1_td1{
width:235px;
text-align:left;
background-color:#7185a9;
line-height:20px;
}
.table2{
}
.table2_td1{
text-align:leftl;
padding:10px 0px 0px 35px;
}
.table2_td2{
text-align:leftl;
padding:0px 0px 10px 35px;
}
.table3{}
.table3_td1{
padding:0px 0px 0px 10px;
text-align:left;
}
.table4{
width:853px;
}
.table4_td1{
height:25px;
text-align:left;
padding:0px 0px 0px 15px;
background:url(../images/table_bar1.jpg) repeat-x;
}
.table4_td2{
height:35px;
text-align:left;
padding:3px 15px;
border-right:1px dotted white;
line-height:15px;
}
.table4_td2a{
height:35px;
text-align:left;
padding:0px 0px 0px 15px;
align: top;
}
.table4_td3{
height:35px;
text-align:left;
padding:3px 15px;
border-right:1px dotted #999;
line-height:15px;
}
.table4_td3a{
height:35px;
text-align:left;
padding:0px 0px 0px 15px;
}
.table4_td2row1{
background:#d4d4d4;
}
.table4_td2row1 td{
border-right:1px dotted white;
}
.table4_td2row2{
background:#fff;
}
.table4_td2row2 td{
border-right:1px dotted #999;
}
.table5{}
.table5_td1{
text-align:left;
padding:5px 0px 5px 0px;
}
.table6{
border:1px solid #d4d4d4
}
.table6 td{
text-align:left;
padding:5px;
border:1px solid #d4d4d4
}
/**/
.invis{
clear:both;
}
.horlinefade1{
width:414px;
height:1px;
line-height:1px;
background:url(../images/horline.jpg) no-repeat;
}
.tablecon1{
padding:2px 2px 2px 2px;
border:1px solid #cccccc; 
}
.spacer1{
padding:10px 0px 0px 0px;
text-align:left;
}
.spacer2{
padding:10px 0px 0px 0px;
text-align:left;
float:left;
}
.midline_con_top2{
width:891px;
height:44px;
background:url(../images/inside_contentcon_top2.png) no-repeat;
}

.tab1{
float:left;
width:105px;
height:20px;
background:url(../images/tab1.png)no-repeat;
margin:0px 3px 0px 0px;
text-align:center;
padding:8px 0px 0px 0px;
}
.tab2{
float:left;
width:105px;
height:20px;
background:url(../images/tab2.png)no-repeat;
margin:0px 3px 0px 0px;
text-align:center;
padding:8px 0px 0px 0px;
}

.linkstyle1{
color:#45628c;
text-decoration:none;
}
.linkstyle2{
color:#333333;
text-decoration:none;
}

.flash{
font:normal 12px arial;
color:green;
margin-top:-12px;
background:#yellow;
}
.errors li{
font:normal 12px arial;
list-style:none;
width:100%;
float:left;
}


.text-guide{
font: italic 10px arial;
padding: 0 0 20px 0;
}